/* style.css - EV RIDE Futuristic Neon Theme */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0c111b; /* black + blue galaxy tone */
    color: white;
}

.container{
    width: 380px;
    background: rgba(20,30,50,0.65);
    padding: 38px;
    border-radius: 18px;
    box-shadow: 0 0 25px rgba(0,255,170,0.35);
    backdrop-filter: blur(10px);
    text-align: center;
}

.container h2{
    font-size: 27px;
    color: #00ffa5;
    font-weight: 600;
    margin-bottom: 18px;
    letter-spacing: 1px;
}

.container input{
    width: 100%;
    padding: 13px 12px;
    margin: 12px 0;
    border: none;
    border-radius: 14px;
    outline: none;
    background: #111827;
    color: white;
    font-size: 15px;
    transition: 0.25s;
}

.container input:focus{
    box-shadow: 0 0 12px #00ffa5;
}

.container button{
    width: 100%;
    padding: 13px;
    background: #00e68a;
    border-radius: 14px;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    margin-top: 14px;
    transition: 0.25s;
}

.container button:hover{
    transform: scale(1.04);
    background: #00ffac;
}

.container p{
    margin-top: 20px;
    font-size: 14px;
    color: #dcdcdc;
}

.container a{
    color: #00ffa5;
    font-weight: bold;
    text-decoration: none;
}
